3. Model Comparison:
   - Train and compare multiple models (e.g., logistic regression, decision tree, random forest, SVM).
   - Select the best-performing model based on cross-validation scores.

1. Logistic Regression

In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [4]:
df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
mode_cabin =df['Cabin'].mode()[0]
df['Cabin'].fillna(mode_cabin, inplace=True)   
df['Age'].fillna(df['Age'].median(), inplace=True)

C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\3593259348.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\3593259348.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\3593259348.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(mode_cabin, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\3593259348.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [5]:
X = df[['Pclass', 'Sex', 'Age']]
Y = df['Survived']

In [6]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [7]:

log_reg = LogisticRegression(max_iter=1000)

In [8]:
cv_scores_log_reg = cross_val_score(log_reg, X, Y, cv=5)
print(f'Logistic Regression - Cross-Validation Scores: {cv_scores_log_reg}')
print(f'Logistic Regression - Mean CV Score: {cv_scores_log_reg.mean():.2f}')
print(f'Logistic Regression - Standard Deviation of CV Scores: {cv_scores_log_reg.std():.2f}')

Logistic Regression - Cross-Validation Scores: [0.7877095  0.78651685 0.79213483 0.7752809  0.79213483]
Logistic Regression - Mean CV Score: 0.79
Logistic Regression - Standard Deviation of CV Scores: 0.01

2. Decision Tree Classifier

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
import pandas as pd


df = pd.read_csv('train.csv')

In [10]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [11]:
df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
mode_cabin= df['Cabin'].mode()[0]
df['Cabin'].fillna(mode_cabin, inplace=True)

C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\1706328687.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\1706328687.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\1706328687.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(mode_cabin, inplace=True)

In [12]:
# Features and target variable
X = df[['Pclass', 'Sex', 'Age']]
Y = df['Survived']

In [13]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [14]:
decision_tree = DecisionTreeClassifier()

In [15]:
cv_scores_decision_tree = cross_val_score(decision_tree, X, Y, cv=5)
print('Decision Tree - Cross-Validation Scores: {cv_scores_decision_tree}')
print('Decision Tree - Mean CV Score: {cv_scores_decision_tree.mean():}')
print('Decision Tree - Standard Deviation of CV Scores: {cv_scores_decision_tree.std():}')

Decision Tree - Cross-Validation Scores: {cv_scores_decision_tree}
Decision Tree - Mean CV Score: {cv_scores_decision_tree.mean():}
Decision Tree - Standard Deviation of CV Scores: {cv_scores_decision_tree.std():}

3. Random Forest Classifier

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
import pandas as pd


df = pd.read_csv('train.csv')

In [17]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [18]:
df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
df['Age'].fillna(df['Age'].median(), inplace=True)  # Fill missing Age with median
df['Cabin'].fillna('Unknown', inplace=True)

C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\2571814635.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\2571814635.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\2571814635.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)  # Fill missing Age with median
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\2571814635.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna('Unknown', inplace=True)

In [19]:
X = df[['Pclass', 'Sex', 'Age']]
Y = df['Survived']

In [20]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [21]:
random_forest = RandomForestClassifier()

In [22]:
cv_scores_random_forest = cross_val_score(random_forest, X, Y, cv=5)


print('Random Forest - Cross-Validation Scores: {cv_scores_random_forest}')
print('Random Forest - Mean CV Score: {cv_scores_random_forest.mean():.2f}')
print('Random Forest - Standard Deviation of CV Scores: {cv_scores_random_forest.std():.2f}')

Random Forest - Cross-Validation Scores: {cv_scores_random_forest}
Random Forest - Mean CV Score: {cv_scores_random_forest.mean():.2f}
Random Forest - Standard Deviation of CV Scores: {cv_scores_random_forest.std():.2f}

4. Support Vector Machine (SVM)

In [23]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
import pandas as pd


df = pd.read_csv('train.csv')

In [24]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [25]:
# Preprocessing
df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
#replace missing values with the mode (most frequent value)
mode_cabin= df['Cabin'].mode()[0]
df['Cabin'].fillna(mode_cabin, inplace=True) 
df['Age'].fillna(df['Age'].median(), inplace=True)

C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\1209207656.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\1209207656.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'].replace({'male': 0, 'female': 1}, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\1209207656.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(mode_cabin, inplace=True)
C:\Users\Aiman\AppData\Local\Temp\ipykernel_7120\1209207656.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [26]:
X = df[['Pclass', 'Sex', 'Age']]
Y = df['Survived']

In [27]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [28]:
# Initialize SVM
svm = SVC()

In [29]:
# Perform Cross-Validation
cv_scores_svm = cross_val_score(svm, X, Y, cv=5)
print('SVM - Cross-Validation Scores: {cv_scores_svm}')
print('SVM - Mean CV Score: {cv_scores_svm.mean():}')
print('SVM - Standard Deviation of CV Scores: {cv_scores_svm.std():}')

SVM - Cross-Validation Scores: {cv_scores_svm}
SVM - Mean CV Score: {cv_scores_svm.mean():}
SVM - Standard Deviation of CV Scores: {cv_scores_svm.std():}

Selecting the Best Model

In [30]:

# Determine the best model
scores = {
    'Logistic Regression': cv_scores_log_reg.mean(),
    'Decision Tree': cv_scores_decision_tree.mean(),
    'Random Forest': cv_scores_random_forest.mean(),
    'SVM': cv_scores_svm.mean()
}

best_model = max(scores, key=scores.get)
print('Best Model: {best_model} with a Mean CV Score of {scores[best_model]:.2f}')

Best Model: {best_model} with a Mean CV Score of {scores[best_model]:.2f}